{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<header class="header">
    <h1 class="logo">
        <a href="/">
            {{@blog.title}}
        </a>
    </h1>
    <ul class="social">
        <li>
            <a href="http://twitter.com/rich_mccartney">Twitter</a>
        </li>
        <li>
            <a href="http://github.com/richmccartney">GitHub</a>
        </li>
        <li>
            <a href="http://dribbble.com/richmccartney">Dribbble</a>
        </li>
        <li>
            <a href="http://instagram.com/richmccartney">Instagram</a>
        </li>
    </ul>
</header>

{{! Home page intro title }}
<section class="intro">
    <h1>Thoughts &amp; ramblings</h1>
    <h4>The blog of a Sussex based web designer</h4>
</section>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="post">
        <header>
            <span class="post-meta">
                <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags}}
            </span>
            <h2>
                <a href="{{url}}">{{{title}}}</a>
            </h2>
        </header>
        <section class="excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
        <footer>
            <a href="{{url}}">Continue reading</a>
        </footer>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>